<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
         style="background-image: url('assets/img/site-banner.jpeg');">
    </div>
    <div class="container">
      <div class="content-center">
        <img class="img-raised" src="assets//img/aura-logo-site.png">
      </div>
    </div>
  </div>

  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">EVENT NAME</h2>
        </div>
        <div class="col-md-8 ml-auto mr-auto text_align-left">
          <h5 class="description">i7tr4yrgwbdigffuigiugfuiguffgtouytrtiotgfewgiugewfuigwfg8ufwuigfwkugdfskvhewkjgfskjgz</h5>
          <h5 class="description"><b>Team Size:</b></h5>
          <h5 class="description"><b>Event Coordinators:</b></h5>
          <a href="tel:" class="btn btn-primary btn-icon btn-round"><i class="fab fas fa-phone"></i></a>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}Developed by <b>Team Aura</b>

      </div>
    </div>
  </footer>
</div>

