<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/site-banner.jpeg');">
    </div>
    <div class="container">
      <div class="content-center">
        <img class="img-raised" src="assets//img/aura-logo-site.png">
<!--        <h1 class="title">AURA 2020</h1>-->
<!--        <h3 class="title">Into the Fantancy Realm</h3>-->
        <!--        <div class="text-center">-->
        <!--          <a href="#pablo" class="btn btn-primary btn-icon btn-round">-->
        <!--            <i class="fab fa-facebook-square"></i>-->
        <!--          </a>-->
        <!--          <a href="#pablo" class="btn btn-primary btn-icon btn-round">-->
        <!--            <i class="fab fa-twitter"></i>-->
        <!--          </a>-->
        <!--          <a href="#pablo" class="btn btn-primary btn-icon btn-round">-->
        <!--            <i class="fab fa-google-plus"></i>-->
        <!--          </a>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
<div class="section section-team text-center">
  <div class="container">
    <h2 class="title">General Secretaries</h2>
    <br>
    <div class="team">
      <div class="row">
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/gs1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Aditi Zawar</h4>
            <p class="category text-primary"></p>
            <a href="https://instagram.com/aditizawar2498?igshid=1eamkscqa1947" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
            <a href="tel:+918073291252" class="btn btn-primary btn-icon btn-round"><i class="fab fas fa-phone"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/gs2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Aditya Thakkar</h4>
            <a href="https://instagram.com/adythakkar?igshid=1fbadfg97zku8" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
            <a href="tel:+919620821732" class="btn btn-primary btn-icon btn-round"><i class="fab fas fa-phone"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/gs3.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Amogh Huilgol</h4>
            <a href="https://instagram.com/char.log.kya.kahenge?igshid=1kp887otu6hr0" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
            <a href="tel:+917892250481" class="btn btn-primary btn-icon btn-round"><i class="fab fas fa-phone"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/gs4.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Megha Thakkar </h4>
            <p class="category text-primary"></p>
            <a href="https://instagram.com/_megha_t?igshid=1kff9121h3t7v" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
            <a href="tel:+918277516740" class="btn btn-primary btn-icon btn-round"><i class="fab fas fa-phone"></i></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/gs5.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Sagar Kalarkopp</h4>
            <a href="https://instagram.com/agastyaa_12?igshid=tkzfxshj0wdp" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
            <a href="tel:+918197067536" class="btn btn-primary btn-icon btn-round"><i class="fab fas fa-phone"></i></a>
          </div>
        </div>
      </div>



      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Website Committee</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-3">
          <div class="team-player">
            <img src="assets/img/team/design1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Tanuj Ravi Rao</h4>
            <a href="https://www.linkedin.com/in/tanujrao" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-player">
            <img src="assets/img/team/w2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Shashidhar B Patil</h4>
            <a href="https://www.linkedin.com/in/shashidhar-patil" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-player">
            <img src="assets/img/team/w3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Tanuj Kulkarni</h4>
            <a href="https://www.linkedin.com/in/tanuj-kulkarni" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-player">
            <img src="assets/img/team/w4.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Cheryl D'souza</h4>
          </div>
        </div>
      </div>

      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Graphics Design Committee</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/design1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Tanuj Ravi Rao</h4>
            <p class="category text-primary"></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/design2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Aishwarya Kulkarni</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/design3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Prasad Kadam</h4>
          </div>
        </div>
      </div>



      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Sponsorship Committee</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/s1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Rohit Poojary</h4>
            <p class="category text-primary"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/s2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Suyash Bapat</h4>
          </div>
        </div>
      </div>


      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Publicity Committee</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/p1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Anupriya  Bokade</h4>
            <p class="category text-primary"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/p2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Vishwanath Kavathekar</h4>
          </div>
        </div>
      </div>

      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Firewall Committee</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/f1.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Prasanna Chitagi</h4>
            <p class="category text-primary"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/f2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Sohel Jamadar</h4>
          </div>
        </div>
      </div>


      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Saviours Committee</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/saviours1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Omkar Yallurkar</h4>
            <p class="category text-primary"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/saviours2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Siddharth Nevagi</h4>
          </div>
        </div>
      </div>


      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Hospitality Committee</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/h1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Dinesh Ramchandani</h4>
            <p class="category text-primary"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/h2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Aniket Chile</h4>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Control Room Committee</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/c1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Amey A Joshi</h4>
            <p class="category text-primary"></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/c2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Shravani Harmalkar</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/c3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Sultankhan Pathan</h4>
          </div>
        </div>
      </div>

      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Technical Committee</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/t1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Devaji Prakash Patil</h4>
            <p class="category text-primary"></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/t2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Rohit K</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="assets/img/team/t3.png"alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Vivek Hiremath</h4>
          </div>
        </div>
      </div>

      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Alumni Relations Committee</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="team-player">
            <img src="assets/img/team/a1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Aditya Zad</h4>
            <p class="category text-primary"></p>
          </div>
        </div>
      </div>


      <hr>
      <br>
      <br>
      <br>
      <h2 class="title">Filler Event Coordinators</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/filler1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Richa Hanamshet</h4>
            <p class="category text-primary"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-player">
            <img src="assets/img/team/filler2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Sonal Sharma </h4>
            <p class="category text-primary"></p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
  <footer class="footer footer-default">
    <div class="container">
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Developed by <b>Team Aura</b>

      </div>
    </div>
  </footer>
</div>
