<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
             style="background-image: url('assets/img/site-banner.jpeg');">
        </div>
        <div class="container">
            <div class="content-center">
                <img class="img-raised" src="assets//img/aura-logo-site.png">
                <br>
                <br>
                <h2 class="title">April 2, 3, 4</h2>
                <!--        <div class="text-center">-->
                <!--          <a href="#pablo" class="btn btn-primary btn-icon btn-round">-->
                <!--            <i class="fab fa-facebook-square"></i>-->
                <!--          </a>-->
                <!--          <a href="#pablo" class="btn btn-primary btn-icon btn-round">-->
                <!--            <i class="fab fa-twitter"></i>-->
                <!--          </a>-->
                <!--          <a href="#pablo" class="btn btn-primary btn-icon btn-round">-->
                <!--            <i class="fab fa-google-plus"></i>-->
                <!--          </a>-->
                <!--        </div>-->
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center anim-body">
        <div class="deconstructed">
            REGISTRATIONS BEGIN SOON
            <div>REGISTRATIONS BEGIN SOON</div>
            <div>REGISTRATIONS BEGIN SOON</div>
            <div>REGISTRATIONS BEGIN SOON</div>
            <div>REGISTRATIONS BEGIN SOON</div>
            <!--                        DECONSTRUCTED-->
            <!--                        <div>DECONSTRUCTED</div>-->
            <!--                        <div>DECONSTRUCTED</div>-->
            <!--                        <div>DECONSTRUCTED</div>-->
            <!--                        <div>DECONSTRUCTED</div>-->
        </div>
        <br>
        <br>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <!--          <h2 class="title">Who we are?</h2>-->
                    <h5 class="description">KLS Gogte Institute of Technology brings to town AURA 2020, a flamboyant
                        cultural fest, featuring a colossal number of events showcasing flair, exuberance and
                        extravaganza, spanning over the duration of 3 spectacular, fun-filled days. AURA 2020 brings a
                        hot platform to all the talented and brilliant people from all cultural backgrounds converging
                        into one big fantasy realm! So come be a part of AURA 2020, Into the fantasy realm!</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <!--          <h2 class="title">Who we are?</h2>-->
              <h5 class="title">PRINCIPAL</h5>
              <h5 class="description">
                Prof. D. A. Kulkarni
              </h5>
            </div>
          </div>
          <div class="separator separator-primary"></div>
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <!--          <h2 class="title">Who we are?</h2>-->
              <h5 class="title">CULTURAL CHAIRPERSON</h5>
              <h5 class="description">
                Prof. Abhishek Deshmukh
              </h5>
            </div>
          </div>
          <div class="separator separator-primary"></div>
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <!--          <h2 class="title">Who we are?</h2>-->
              <h5 class="title">GENERAL SECRETARIES</h5>
              <h5 class="description">
                Ms. Aditi Zawar<br>
                Mr. Aditya Thakkar<br>
                Mr. Amogh Huilgol<br>
                Ms. Megha Thakkar<br>
                Mr. Sagar Kalarkopp<br>
              </h5>
            </div>
          </div>
          <div class="separator separator-primary"></div>


            <!--      <div class="section-story-overview">-->
            <!--        <div class="row">-->
            <!--          <div class="col-md-6">-->
            <!--            <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">-->
            <!--              &lt;!&ndash; First image on the left side &ndash;&gt;-->
            <!--              <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"-->
            <!--                <br>-->
            <!--                <br>-->
            <!--                <small>-NOAA</small>-->
            <!--              </p>-->
            <!--            </div>-->
            <!--             Second image on the left side of the article -->
            <!--            <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>-->
            <!--          </div>-->
            <!--          <div class="col-md-5">-->
            <!--            &lt;!&ndash; First image on the right side, above the article &ndash;&gt;-->
            <!--            <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div>-->
            <!--            <h3>So what does the new record for the lowest level of winter ice actually mean</h3>-->
            <!--            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.-->
            <!--            </p>-->
            <!--            <p>-->
            <!--              For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.-->
            <!--            </p>-->
            <!--            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.-->
            <!--            </p>-->
            <!--          </div>-->
            <!--        </div>-->
            <!--      </div>-->
        </div>
    </div>

    <!--  <div class="section section-contact-us text-center">-->
    <!--    <div class="container">-->
    <!--      <h2 class="title">Want to work with us?</h2>-->
    <!--      <p class="description">Your project is very important to us.</p>-->
    <!--      <div class="row">-->
    <!--        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">-->
    <!--          <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">-->
    <!--            <div class="input-group-prepend" >-->
    <!--                      <span class="input-group-text">-->
    <!--                          <i class="now-ui-icons users_circle-08"></i>-->
    <!--                      </span>-->
    <!--            </div>-->
    <!--            <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">-->
    <!--          </div>-->
    <!--          <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">-->
    <!--            <div class="input-group-prepend" >-->
    <!--                      <span class="input-group-text">-->
    <!--                            <i class="now-ui-icons ui-1_email-85"></i>-->
    <!--                      </span>-->
    <!--            </div>-->
    <!--            <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">-->
    <!--          </div>-->
    <!--          <div class="textarea-container">-->
    <!--            <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>-->
    <!--          </div>-->
    <!--          <div class="send-button">-->
    <!--            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    {{jsonstringify(currentUser)}}
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Developed by <b>Team Aura</b>

            </div>
        </div>
    </footer>
</div>

